body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2064px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u581_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2065px;
  height:1177px;
}
#u581 {
  position:absolute;
  left:0px;
  top:0px;
  width:2064px;
  height:1176px;
}
#u582 {
  position:absolute;
  left:2px;
  top:580px;
  width:2060px;
  visibility:hidden;
  word-wrap:break-word;
}
#u583_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2065px;
  height:135px;
}
#u583 {
  position:absolute;
  left:0px;
  top:4px;
  width:2064px;
  height:134px;
}
#u584 {
  position:absolute;
  left:2px;
  top:59px;
  width:2060px;
  visibility:hidden;
  word-wrap:break-word;
}
#u585_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:83px;
}
#u585 {
  position:absolute;
  left:105px;
  top:35px;
  width:217px;
  height:82px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
}
#u586 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u587_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1902px;
  height:1816px;
}
#u587 {
  position:absolute;
  left:105px;
  top:140px;
  width:1902px;
  height:1816px;
}
#u588 {
  position:absolute;
  left:2px;
  top:900px;
  width:1898px;
  visibility:hidden;
  word-wrap:break-word;
}
