body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:982px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u796_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:37px;
}
#u796 {
  position:absolute;
  left:131px;
  top:117px;
  width:167px;
  height:36px;
  font-family:'Lithos Pro';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u797 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u798_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:87px;
}
#u798 {
  position:absolute;
  left:304px;
  top:355px;
  width:146px;
  height:74px;
}
#u799 {
  position:absolute;
  left:2px;
  top:29px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:87px;
}
#u800 {
  position:absolute;
  left:131px;
  top:355px;
  width:146px;
  height:74px;
}
#u801 {
  position:absolute;
  left:2px;
  top:29px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:49px;
}
#u802 {
  position:absolute;
  left:168px;
  top:396px;
  width:78px;
  height:48px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF660B;
}
#u803 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:20px;
}
#u804 {
  position:absolute;
  left:192px;
  top:371px;
  width:25px;
  height:19px;
  color:#FF660B;
}
#u805 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u806 {
  position:absolute;
  left:366px;
  top:371px;
  width:21px;
  height:21px;
  color:#F07F40;
}
#u807 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:49px;
}
#u808 {
  position:absolute;
  left:340px;
  top:396px;
  width:78px;
  height:48px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF660B;
}
#u809 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:178px;
}
#u810 {
  position:absolute;
  left:115px;
  top:160px;
  width:354px;
  height:165px;
  font-size:20px;
  color:rgba(51, 51, 51, 0.509803921568627);
}
#u811 {
  position:absolute;
  left:2px;
  top:70px;
  width:350px;
  word-wrap:break-word;
}
#u812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:32px;
}
#u812 {
  position:absolute;
  left:197px;
  top:708px;
  width:35px;
  height:31px;
}
#u813 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:34px;
}
#u814 {
  position:absolute;
  left:125px;
  top:707px;
  width:29px;
  height:33px;
}
#u815 {
  position:absolute;
  left:2px;
  top:8px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:33px;
}
#u816 {
  position:absolute;
  left:345px;
  top:708px;
  width:38px;
  height:32px;
}
#u817 {
  position:absolute;
  left:2px;
  top:8px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u818 {
  position:absolute;
  left:422px;
  top:707px;
  width:33px;
  height:33px;
}
#u819 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u820 {
  position:absolute;
  left:261px;
  top:676px;
  width:62px;
  height:62px;
}
#u821 {
  position:absolute;
  left:2px;
  top:23px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
}
#u822 {
  position:absolute;
  left:128px;
  top:746px;
  width:30px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#4433BD;
}
#u823 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
}
#u824 {
  position:absolute;
  left:204px;
  top:746px;
  width:30px;
  height:18px;
  color:#8F8BF6;
}
#u825 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
}
#u826 {
  position:absolute;
  left:356px;
  top:746px;
  width:30px;
  height:18px;
  color:#8F8BF6;
}
#u827 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
}
#u828 {
  position:absolute;
  left:417px;
  top:746px;
  width:59px;
  height:18px;
  color:#8F8BF6;
}
#u829 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:195px;
}
#u830 {
  position:absolute;
  left:115px;
  top:467px;
  width:186px;
  height:194px;
}
#u831 {
  position:absolute;
  left:2px;
  top:89px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:87px;
}
#u832 {
  position:absolute;
  left:322px;
  top:468px;
  width:147px;
  height:86px;
}
#u833 {
  position:absolute;
  left:2px;
  top:35px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:85px;
}
#u834 {
  position:absolute;
  left:322px;
  top:575px;
  width:147px;
  height:84px;
}
#u835 {
  position:absolute;
  left:2px;
  top:34px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:53px;
}
#u836 {
  position:absolute;
  left:416px;
  top:103px;
  width:47px;
  height:53px;
}
#u837 {
  position:absolute;
  left:2px;
  top:18px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u838 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u839 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:708px;
}
#u840 {
  position:absolute;
  left:93px;
  top:58px;
  width:397px;
  height:707px;
  font-size:18px;
  color:#666666;
}
#u841 {
  position:absolute;
  left:2px;
  top:346px;
  width:393px;
  visibility:hidden;
  word-wrap:break-word;
}
#u842 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u843 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:43px;
}
#u844 {
  position:absolute;
  left:92px;
  top:58px;
  width:399px;
  height:42px;
}
#u845 {
  position:absolute;
  left:2px;
  top:13px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u846 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:10px;
}
#u847 {
  position:absolute;
  left:99px;
  top:74px;
  width:6px;
  height:9px;
}
#u848 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:10px;
}
#u849 {
  position:absolute;
  left:111px;
  top:74px;
  width:6px;
  height:9px;
}
#u850 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:10px;
}
#u851 {
  position:absolute;
  left:121px;
  top:74px;
  width:6px;
  height:9px;
}
#u852 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:10px;
}
#u853 {
  position:absolute;
  left:131px;
  top:74px;
  width:6px;
  height:9px;
}
#u854 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:10px;
}
#u855 {
  position:absolute;
  left:142px;
  top:74px;
  width:6px;
  height:9px;
}
#u856 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u857 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u858 {
  position:absolute;
  left:450px;
  top:71px;
  width:29px;
  height:19px;
}
#u859 {
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:8px;
}
#u860 {
  position:absolute;
  left:456px;
  top:77px;
  width:19px;
  height:7px;
}
#u861 {
  position:absolute;
  left:2px;
  top:-4px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:8px;
}
#u862 {
  position:absolute;
  left:479px;
  top:77px;
  width:4px;
  height:7px;
}
#u863 {
  position:absolute;
  left:2px;
  top:-4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:17px;
}
#u864 {
  position:absolute;
  left:156px;
  top:70px;
  width:66px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u865 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:15px;
}
#u866 {
  position:absolute;
  left:273px;
  top:72px;
  width:85px;
  height:14px;
  font-family:'Hel Regular', 'Hel';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u867 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u868 {
  position:absolute;
  left:406px;
  top:72px;
  width:85px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u869 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:666px;
}
#u870 {
  position:absolute;
  left:93px;
  top:99px;
  width:75px;
  height:665px;
}
#u871 {
  position:absolute;
  left:2px;
  top:324px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:37px;
}
#u872 {
  position:absolute;
  left:116px;
  top:120px;
  width:27px;
  height:36px;
}
#u873 {
  position:absolute;
  left:2px;
  top:10px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:35px;
}
#u874 {
  position:absolute;
  left:118px;
  top:190px;
  width:24px;
  height:34px;
  color:rgba(255, 255, 255, 0.129411764705882);
}
#u875 {
  position:absolute;
  left:2px;
  top:9px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:18px;
}
#u876 {
  position:absolute;
  left:111px;
  top:160px;
  width:51px;
  height:17px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u877 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:18px;
}
#u878 {
  position:absolute;
  left:111px;
  top:227px;
  width:51px;
  height:17px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  color:rgba(204, 204, 255, 0.898039215686275);
}
#u879 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:35px;
}
#u880 {
  position:absolute;
  left:118px;
  top:248px;
  width:24px;
  height:34px;
  color:rgba(255, 255, 255, 0.129411764705882);
}
#u881 {
  position:absolute;
  left:2px;
  top:9px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
}
#u882 {
  position:absolute;
  left:119px;
  top:285px;
  width:30px;
  height:17px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  color:rgba(204, 204, 255, 0.898039215686275);
}
#u883 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:35px;
}
#u884 {
  position:absolute;
  left:118px;
  top:317px;
  width:24px;
  height:34px;
  color:rgba(255, 255, 255, 0.129411764705882);
}
#u885 {
  position:absolute;
  left:2px;
  top:9px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:18px;
}
#u886 {
  position:absolute;
  left:109px;
  top:355px;
  width:59px;
  height:17px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  color:rgba(204, 204, 255, 0.898039215686275);
}
#u887 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:35px;
}
#u888 {
  position:absolute;
  left:118px;
  top:386px;
  width:24px;
  height:34px;
  color:rgba(255, 255, 255, 0.129411764705882);
}
#u889 {
  position:absolute;
  left:2px;
  top:9px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
}
#u890 {
  position:absolute;
  left:119px;
  top:423px;
  width:30px;
  height:17px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  color:rgba(204, 204, 255, 0.898039215686275);
}
#u891 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:35px;
}
#u892 {
  position:absolute;
  left:118px;
  top:467px;
  width:24px;
  height:34px;
  color:rgba(255, 255, 255, 0.129411764705882);
}
#u893 {
  position:absolute;
  left:2px;
  top:9px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:18px;
}
#u894 {
  position:absolute;
  left:114px;
  top:504px;
  width:44px;
  height:17px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  color:rgba(204, 204, 255, 0.898039215686275);
}
#u895 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:35px;
}
#u896 {
  position:absolute;
  left:118px;
  top:546px;
  width:24px;
  height:34px;
  color:rgba(255, 255, 255, 0.129411764705882);
}
#u897 {
  position:absolute;
  left:2px;
  top:9px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
}
#u898 {
  position:absolute;
  left:119px;
  top:583px;
  width:30px;
  height:17px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  color:rgba(204, 204, 255, 0.898039215686275);
}
#u899 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:35px;
}
#u900 {
  position:absolute;
  left:118px;
  top:626px;
  width:24px;
  height:34px;
  color:rgba(255, 255, 255, 0.129411764705882);
}
#u901 {
  position:absolute;
  left:2px;
  top:9px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:18px;
}
#u902 {
  position:absolute;
  left:114px;
  top:663px;
  width:44px;
  height:17px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  color:rgba(204, 204, 255, 0.898039215686275);
}
#u903 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:602px;
}
#u904 {
  position:absolute;
  left:168px;
  top:100px;
  width:322px;
  height:601px;
}
#u905 {
  position:absolute;
  left:2px;
  top:292px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:74px;
}
#u906 {
  position:absolute;
  left:182px;
  top:260px;
  width:142px;
  height:73px;
}
#u907 {
  position:absolute;
  left:2px;
  top:28px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:143px;
}
#u908 {
  position:absolute;
  left:182px;
  top:118px;
  width:142px;
  height:142px;
}
#u909 {
  position:absolute;
  left:2px;
  top:63px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:143px;
}
#u910 {
  position:absolute;
  left:336px;
  top:117px;
  width:142px;
  height:142px;
}
#u911 {
  position:absolute;
  left:2px;
  top:63px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:74px;
}
#u912 {
  position:absolute;
  left:336px;
  top:259px;
  width:142px;
  height:73px;
}
#u913 {
  position:absolute;
  left:2px;
  top:28px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
}
#u914 {
  position:absolute;
  left:222px;
  top:302px;
  width:63px;
  height:19px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u915 {
  position:absolute;
  left:2px;
  top:2px;
  width:59px;
  word-wrap:break-word;
}
#u916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:19px;
}
#u916 {
  position:absolute;
  left:226px;
  top:278px;
  width:74px;
  height:18px;
}
#u917 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
}
#u918 {
  position:absolute;
  left:376px;
  top:302px;
  width:63px;
  height:19px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u919 {
  position:absolute;
  left:2px;
  top:2px;
  width:59px;
  word-wrap:break-word;
}
#u920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:19px;
}
#u920 {
  position:absolute;
  left:379px;
  top:278px;
  width:74px;
  height:18px;
}
#u921 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:74px;
}
#u922 {
  position:absolute;
  left:182px;
  top:518px;
  width:142px;
  height:73px;
}
#u923 {
  position:absolute;
  left:2px;
  top:28px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:143px;
}
#u924 {
  position:absolute;
  left:182px;
  top:376px;
  width:142px;
  height:142px;
}
#u925 {
  position:absolute;
  left:2px;
  top:63px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
}
#u926 {
  position:absolute;
  left:222px;
  top:560px;
  width:63px;
  height:19px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u927 {
  position:absolute;
  left:2px;
  top:2px;
  width:59px;
  word-wrap:break-word;
}
#u928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:19px;
}
#u928 {
  position:absolute;
  left:226px;
  top:536px;
  width:74px;
  height:18px;
}
#u929 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:74px;
}
#u930 {
  position:absolute;
  left:336px;
  top:518px;
  width:142px;
  height:73px;
}
#u931 {
  position:absolute;
  left:2px;
  top:28px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:143px;
}
#u932 {
  position:absolute;
  left:336px;
  top:376px;
  width:142px;
  height:142px;
}
#u933 {
  position:absolute;
  left:2px;
  top:63px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
}
#u934 {
  position:absolute;
  left:376px;
  top:560px;
  width:63px;
  height:19px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u935 {
  position:absolute;
  left:2px;
  top:2px;
  width:59px;
  word-wrap:break-word;
}
#u936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:19px;
}
#u936 {
  position:absolute;
  left:379px;
  top:536px;
  width:74px;
  height:18px;
}
#u937 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:130px;
}
#u938 {
  position:absolute;
  left:182px;
  top:635px;
  width:142px;
  height:129px;
}
#u939 {
  position:absolute;
  left:2px;
  top:56px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:132px;
}
#u940 {
  position:absolute;
  left:336px;
  top:634px;
  width:142px;
  height:131px;
}
#u941 {
  position:absolute;
  left:2px;
  top:58px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:35px;
}
#u942 {
  position:absolute;
  left:118px;
  top:702px;
  width:24px;
  height:34px;
  color:rgba(255, 255, 255, 0.129411764705882);
}
#u943 {
  position:absolute;
  left:2px;
  top:9px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
}
#u944 {
  position:absolute;
  left:119px;
  top:739px;
  width:30px;
  height:17px;
  font-family:'苹方 常规', '苹方';
  font-weight:400;
  font-style:normal;
  color:rgba(204, 204, 255, 0.898039215686275);
}
#u945 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:243px;
}
#u946 {
  position:absolute;
  left:564px;
  top:163px;
  width:418px;
  height:242px;
  font-size:28px;
  line-height:36px;
}
#u947 {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  word-wrap:break-word;
}
