body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2604px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:84px;
}
#u2164 {
  position:absolute;
  left:2351px;
  top:39px;
  width:253px;
  height:83px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
}
#u2165 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u2166 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u2167 {
  position:absolute;
  left:82px;
  top:62px;
  width:375px;
  height:667px;
  font-size:18px;
  color:#666666;
}
#u2168 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2169 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:61px;
}
#u2170 {
  position:absolute;
  left:82px;
  top:669px;
  width:375px;
  height:60px;
  font-size:18px;
  color:#999999;
}
#u2171 {
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2172 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2173 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:41px;
}
#u2174 {
  position:absolute;
  left:81px;
  top:62px;
  width:376px;
  height:40px;
}
#u2175 {
  position:absolute;
  left:2px;
  top:12px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2176 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:9px;
}
#u2177 {
  position:absolute;
  left:88px;
  top:77px;
  width:6px;
  height:8px;
}
#u2178 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:9px;
}
#u2179 {
  position:absolute;
  left:98px;
  top:77px;
  width:6px;
  height:8px;
}
#u2180 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:9px;
}
#u2181 {
  position:absolute;
  left:108px;
  top:77px;
  width:6px;
  height:8px;
}
#u2182 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:9px;
}
#u2183 {
  position:absolute;
  left:118px;
  top:77px;
  width:6px;
  height:8px;
}
#u2184 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:9px;
}
#u2185 {
  position:absolute;
  left:128px;
  top:77px;
  width:6px;
  height:8px;
}
#u2186 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2187 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:18px;
}
#u2188 {
  position:absolute;
  left:419px;
  top:74px;
  width:27px;
  height:17px;
}
#u2189 {
  position:absolute;
  left:2px;
  top:0px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:8px;
}
#u2190 {
  position:absolute;
  left:424px;
  top:79px;
  width:17px;
  height:7px;
}
#u2191 {
  position:absolute;
  left:2px;
  top:-4px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:8px;
}
#u2192 {
  position:absolute;
  left:446px;
  top:79px;
  width:4px;
  height:7px;
}
#u2193 {
  position:absolute;
  left:2px;
  top:-4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
}
#u2194 {
  position:absolute;
  left:141px;
  top:73px;
  width:63px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u2195 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u2196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:15px;
}
#u2196 {
  position:absolute;
  left:252px;
  top:75px;
  width:80px;
  height:14px;
  font-family:'Hel Regular', 'Hel';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u2197 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u2198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u2198 {
  position:absolute;
  left:378px;
  top:75px;
  width:80px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u2199 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u2200 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2201 {
  position:absolute;
  left:81px;
  top:148px;
  width:377px;
  height:522px;
  overflow:hidden;
  touch-action:none;
}
#u2201_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:522px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2201_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2202 {
  position:absolute;
  left:0px;
  top:9px;
  width:378px;
  height:1643px;
  overflow:hidden;
}
#u2202_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:1643px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2202_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2203 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2204 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2205 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:216px;
}
#u2206 {
  position:absolute;
  left:15px;
  top:5px;
  width:165px;
  height:215px;
}
#u2207 {
  position:absolute;
  left:2px;
  top:100px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:43px;
}
#u2208 {
  position:absolute;
  left:27px;
  top:170px;
  width:57px;
  height:42px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:13px;
}
#u2209 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u2210 {
  position:absolute;
  left:27px;
  top:198px;
  width:29px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:13px;
}
#u2211 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:165px;
}
#u2212 {
  position:absolute;
  left:15px;
  top:5px;
  width:165px;
  height:165px;
}
#u2213 {
  position:absolute;
  left:2px;
  top:74px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:216px;
}
#u2214 {
  position:absolute;
  left:197px;
  top:5px;
  width:165px;
  height:215px;
}
#u2215 {
  position:absolute;
  left:2px;
  top:100px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:43px;
}
#u2216 {
  position:absolute;
  left:209px;
  top:170px;
  width:71px;
  height:42px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:13px;
}
#u2217 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
}
#u2218 {
  position:absolute;
  left:209px;
  top:198px;
  width:36px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:13px;
}
#u2219 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u2220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:165px;
}
#u2220 {
  position:absolute;
  left:197px;
  top:5px;
  width:165px;
  height:165px;
}
#u2221 {
  position:absolute;
  left:2px;
  top:74px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2222 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2223 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2224 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:216px;
}
#u2225 {
  position:absolute;
  left:15px;
  top:230px;
  width:165px;
  height:215px;
}
#u2226 {
  position:absolute;
  left:2px;
  top:100px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:43px;
}
#u2227 {
  position:absolute;
  left:27px;
  top:395px;
  width:57px;
  height:42px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:13px;
}
#u2228 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u2229 {
  position:absolute;
  left:27px;
  top:423px;
  width:29px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:13px;
}
#u2230 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:165px;
}
#u2231 {
  position:absolute;
  left:15px;
  top:230px;
  width:165px;
  height:165px;
}
#u2232 {
  position:absolute;
  left:2px;
  top:74px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:216px;
}
#u2233 {
  position:absolute;
  left:197px;
  top:230px;
  width:165px;
  height:215px;
}
#u2234 {
  position:absolute;
  left:2px;
  top:100px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:43px;
}
#u2235 {
  position:absolute;
  left:209px;
  top:395px;
  width:71px;
  height:42px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:13px;
}
#u2236 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
}
#u2237 {
  position:absolute;
  left:209px;
  top:423px;
  width:36px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:13px;
}
#u2238 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u2239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:165px;
}
#u2239 {
  position:absolute;
  left:197px;
  top:230px;
  width:165px;
  height:165px;
}
#u2240 {
  position:absolute;
  left:2px;
  top:74px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2241 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2242 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2243 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:216px;
}
#u2244 {
  position:absolute;
  left:15px;
  top:455px;
  width:165px;
  height:215px;
}
#u2245 {
  position:absolute;
  left:2px;
  top:100px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:43px;
}
#u2246 {
  position:absolute;
  left:27px;
  top:620px;
  width:57px;
  height:42px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:13px;
}
#u2247 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u2248 {
  position:absolute;
  left:27px;
  top:648px;
  width:29px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:13px;
}
#u2249 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:165px;
}
#u2250 {
  position:absolute;
  left:15px;
  top:455px;
  width:165px;
  height:165px;
}
#u2251 {
  position:absolute;
  left:2px;
  top:74px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:216px;
}
#u2252 {
  position:absolute;
  left:197px;
  top:455px;
  width:165px;
  height:215px;
}
#u2253 {
  position:absolute;
  left:2px;
  top:100px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:43px;
}
#u2254 {
  position:absolute;
  left:209px;
  top:620px;
  width:71px;
  height:42px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:13px;
}
#u2255 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
}
#u2256 {
  position:absolute;
  left:209px;
  top:648px;
  width:36px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:13px;
}
#u2257 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u2258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:165px;
}
#u2258 {
  position:absolute;
  left:197px;
  top:455px;
  width:165px;
  height:165px;
}
#u2259 {
  position:absolute;
  left:2px;
  top:74px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2260 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2261 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2262 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:216px;
}
#u2263 {
  position:absolute;
  left:15px;
  top:680px;
  width:165px;
  height:215px;
}
#u2264 {
  position:absolute;
  left:2px;
  top:100px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:43px;
}
#u2265 {
  position:absolute;
  left:27px;
  top:845px;
  width:57px;
  height:42px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:13px;
}
#u2266 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u2267 {
  position:absolute;
  left:27px;
  top:873px;
  width:29px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:13px;
}
#u2268 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:165px;
}
#u2269 {
  position:absolute;
  left:15px;
  top:680px;
  width:165px;
  height:165px;
}
#u2270 {
  position:absolute;
  left:2px;
  top:74px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:216px;
}
#u2271 {
  position:absolute;
  left:197px;
  top:680px;
  width:165px;
  height:215px;
}
#u2272 {
  position:absolute;
  left:2px;
  top:100px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:43px;
}
#u2273 {
  position:absolute;
  left:209px;
  top:845px;
  width:71px;
  height:42px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:13px;
}
#u2274 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
}
#u2275 {
  position:absolute;
  left:209px;
  top:873px;
  width:36px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:13px;
}
#u2276 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u2277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:165px;
}
#u2277 {
  position:absolute;
  left:197px;
  top:680px;
  width:165px;
  height:165px;
}
#u2278 {
  position:absolute;
  left:2px;
  top:74px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2279 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2280 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2281 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:216px;
}
#u2282 {
  position:absolute;
  left:15px;
  top:905px;
  width:165px;
  height:215px;
}
#u2283 {
  position:absolute;
  left:2px;
  top:100px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:43px;
}
#u2284 {
  position:absolute;
  left:27px;
  top:1070px;
  width:57px;
  height:42px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:13px;
}
#u2285 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u2286 {
  position:absolute;
  left:27px;
  top:1098px;
  width:29px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:13px;
}
#u2287 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:165px;
}
#u2288 {
  position:absolute;
  left:15px;
  top:905px;
  width:165px;
  height:165px;
}
#u2289 {
  position:absolute;
  left:2px;
  top:74px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:216px;
}
#u2290 {
  position:absolute;
  left:197px;
  top:905px;
  width:165px;
  height:215px;
}
#u2291 {
  position:absolute;
  left:2px;
  top:100px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:43px;
}
#u2292 {
  position:absolute;
  left:209px;
  top:1070px;
  width:71px;
  height:42px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:13px;
}
#u2293 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
}
#u2294 {
  position:absolute;
  left:209px;
  top:1098px;
  width:36px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:13px;
}
#u2295 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u2296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:165px;
}
#u2296 {
  position:absolute;
  left:197px;
  top:905px;
  width:165px;
  height:165px;
}
#u2297 {
  position:absolute;
  left:2px;
  top:74px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2298 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2299 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2300 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:216px;
}
#u2301 {
  position:absolute;
  left:15px;
  top:1130px;
  width:165px;
  height:215px;
}
#u2302 {
  position:absolute;
  left:2px;
  top:100px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:43px;
}
#u2303 {
  position:absolute;
  left:27px;
  top:1295px;
  width:57px;
  height:42px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:13px;
}
#u2304 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u2305 {
  position:absolute;
  left:27px;
  top:1323px;
  width:29px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:13px;
}
#u2306 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:165px;
}
#u2307 {
  position:absolute;
  left:15px;
  top:1130px;
  width:165px;
  height:165px;
}
#u2308 {
  position:absolute;
  left:2px;
  top:74px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:216px;
}
#u2309 {
  position:absolute;
  left:197px;
  top:1130px;
  width:165px;
  height:215px;
}
#u2310 {
  position:absolute;
  left:2px;
  top:100px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:43px;
}
#u2311 {
  position:absolute;
  left:209px;
  top:1295px;
  width:71px;
  height:42px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:13px;
}
#u2312 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
}
#u2313 {
  position:absolute;
  left:209px;
  top:1323px;
  width:36px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:13px;
}
#u2314 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u2315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:165px;
}
#u2315 {
  position:absolute;
  left:197px;
  top:1130px;
  width:165px;
  height:165px;
}
#u2316 {
  position:absolute;
  left:2px;
  top:74px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2317 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2318 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2319 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:216px;
}
#u2320 {
  position:absolute;
  left:15px;
  top:1355px;
  width:165px;
  height:215px;
}
#u2321 {
  position:absolute;
  left:2px;
  top:100px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:43px;
}
#u2322 {
  position:absolute;
  left:27px;
  top:1520px;
  width:57px;
  height:42px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:13px;
}
#u2323 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u2324 {
  position:absolute;
  left:27px;
  top:1548px;
  width:29px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:13px;
}
#u2325 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:165px;
}
#u2326 {
  position:absolute;
  left:15px;
  top:1355px;
  width:165px;
  height:165px;
}
#u2327 {
  position:absolute;
  left:2px;
  top:74px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:216px;
}
#u2328 {
  position:absolute;
  left:197px;
  top:1355px;
  width:165px;
  height:215px;
}
#u2329 {
  position:absolute;
  left:2px;
  top:100px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:43px;
}
#u2330 {
  position:absolute;
  left:209px;
  top:1520px;
  width:71px;
  height:42px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:13px;
}
#u2331 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
}
#u2332 {
  position:absolute;
  left:209px;
  top:1548px;
  width:36px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:13px;
}
#u2333 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u2334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:165px;
}
#u2334 {
  position:absolute;
  left:197px;
  top:1355px;
  width:165px;
  height:165px;
}
#u2335 {
  position:absolute;
  left:2px;
  top:74px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2336 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2337 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:30px;
}
#u2338 {
  position:absolute;
  left:175px;
  top:676px;
  width:33px;
  height:29px;
  color:#CCCCCC;
}
#u2339 {
  position:absolute;
  left:2px;
  top:6px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
}
#u2340 {
  position:absolute;
  left:179px;
  top:709px;
  width:30px;
  height:16px;
  font-size:13px;
  color:#8F8BF6;
}
#u2341 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u2342 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:32px;
}
#u2343 {
  position:absolute;
  left:109px;
  top:674px;
  width:27px;
  height:31px;
}
#u2344 {
  position:absolute;
  left:2px;
  top:8px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
}
#u2345 {
  position:absolute;
  left:109px;
  top:709px;
  width:30px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FC9C69;
}
#u2346 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u2347 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u2348 {
  position:absolute;
  left:396px;
  top:674px;
  width:31px;
  height:31px;
  color:#CCCCCC;
}
#u2349 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
}
#u2350 {
  position:absolute;
  left:385px;
  top:709px;
  width:59px;
  height:18px;
  font-size:13px;
  color:#8F8BF6;
}
#u2351 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u2352 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:31px;
}
#u2353 {
  position:absolute;
  left:324px;
  top:675px;
  width:35px;
  height:30px;
  color:#CCCCCC;
}
#u2354 {
  position:absolute;
  left:2px;
  top:7px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
}
#u2355 {
  position:absolute;
  left:331px;
  top:709px;
  width:30px;
  height:16px;
  font-size:13px;
  color:#8F8BF6;
}
#u2356 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u2357 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2358_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:242px;
  height:186px;
}
#u2358 {
  position:absolute;
  left:161px;
  top:556px;
  width:229px;
  height:173px;
  color:#FE720A;
}
#u2359 {
  position:absolute;
  left:2px;
  top:78px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2360_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:70px;
  height:62px;
}
#u2360 {
  position:absolute;
  left:205px;
  top:594px;
  width:57px;
  height:49px;
  color:#FE720A;
}
#u2361 {
  position:absolute;
  left:2px;
  top:16px;
  width:53px;
  word-wrap:break-word;
}
#u2362_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:71px;
  height:62px;
}
#u2362 {
  position:absolute;
  left:292px;
  top:594px;
  width:58px;
  height:49px;
  color:#FE720A;
}
#u2363 {
  position:absolute;
  left:2px;
  top:16px;
  width:54px;
  word-wrap:break-word;
}
#u2364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u2364 {
  position:absolute;
  left:242px;
  top:657px;
  width:57px;
  height:57px;
}
#u2365 {
  position:absolute;
  left:2px;
  top:20px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2366 {
  position:absolute;
  left:175px;
  top:146px;
  width:95px;
  height:141px;
  overflow:hidden;
  visibility:hidden;
}
#u2366_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:141px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2366_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:45px;
}
#u2367 {
  position:absolute;
  left:0px;
  top:44px;
  width:94px;
  height:44px;
}
#u2368 {
  position:absolute;
  left:2px;
  top:14px;
  width:90px;
  word-wrap:break-word;
}
#u2369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:45px;
}
#u2369 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:44px;
  color:#8F8BF6;
}
#u2370 {
  position:absolute;
  left:2px;
  top:14px;
  width:90px;
  word-wrap:break-word;
}
#u2371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:45px;
}
#u2371 {
  position:absolute;
  left:0px;
  top:88px;
  width:94px;
  height:44px;
}
#u2372 {
  position:absolute;
  left:2px;
  top:14px;
  width:90px;
  word-wrap:break-word;
}
#u2373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
}
#u2373 {
  position:absolute;
  left:419px;
  top:118px;
  width:21px;
  height:18px;
}
#u2374 {
  position:absolute;
  left:2px;
  top:1px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u2375 {
  position:absolute;
  left:141px;
  top:120px;
  width:18px;
  height:18px;
}
#u2376 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2377 {
  position:absolute;
  left:81px;
  top:148px;
  width:377px;
  height:522px;
  overflow:hidden;
  visibility:hidden;
}
#u2377_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:522px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2377_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:522px;
}
#u2378 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:521px;
}
#u2379 {
  position:absolute;
  left:2px;
  top:252px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:90px;
}
#u2380 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:89px;
  color:#FFFFFF;
}
#u2381 {
  position:absolute;
  left:2px;
  top:36px;
  width:116px;
  word-wrap:break-word;
}
#u2382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:90px;
}
#u2382 {
  position:absolute;
  left:0px;
  top:89px;
  width:120px;
  height:89px;
  color:#FFFFFF;
}
#u2383 {
  position:absolute;
  left:2px;
  top:36px;
  width:116px;
  word-wrap:break-word;
}
#u2384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:123px;
}
#u2384 {
  position:absolute;
  left:130px;
  top:14px;
  width:110px;
  height:122px;
}
#u2385 {
  position:absolute;
  left:2px;
  top:53px;
  width:106px;
  word-wrap:break-word;
}
#u2386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:123px;
}
#u2386 {
  position:absolute;
  left:250px;
  top:14px;
  width:110px;
  height:122px;
}
#u2387 {
  position:absolute;
  left:2px;
  top:53px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:123px;
}
#u2388 {
  position:absolute;
  left:130px;
  top:146px;
  width:110px;
  height:122px;
}
#u2389 {
  position:absolute;
  left:2px;
  top:53px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:123px;
}
#u2390 {
  position:absolute;
  left:250px;
  top:14px;
  width:110px;
  height:122px;
}
#u2391 {
  position:absolute;
  left:2px;
  top:53px;
  width:106px;
  word-wrap:break-word;
}
#u2392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:123px;
}
#u2392 {
  position:absolute;
  left:130px;
  top:146px;
  width:110px;
  height:122px;
}
#u2393 {
  position:absolute;
  left:2px;
  top:53px;
  width:106px;
  word-wrap:break-word;
}
#u2394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:123px;
}
#u2394 {
  position:absolute;
  left:250px;
  top:146px;
  width:110px;
  height:122px;
}
#u2395 {
  position:absolute;
  left:2px;
  top:53px;
  width:106px;
  word-wrap:break-word;
}
#u2396_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:123px;
}
#u2396 {
  position:absolute;
  left:130px;
  top:278px;
  width:110px;
  height:122px;
}
#u2397 {
  position:absolute;
  left:2px;
  top:53px;
  width:106px;
  word-wrap:break-word;
}
#u2398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:123px;
}
#u2398 {
  position:absolute;
  left:250px;
  top:278px;
  width:110px;
  height:122px;
}
#u2399 {
  position:absolute;
  left:2px;
  top:53px;
  width:106px;
  word-wrap:break-word;
}
#u2400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:90px;
}
#u2400 {
  position:absolute;
  left:0px;
  top:178px;
  width:120px;
  height:89px;
  color:#FFFFFF;
}
#u2401 {
  position:absolute;
  left:2px;
  top:36px;
  width:116px;
  word-wrap:break-word;
}
#u2402 {
  position:absolute;
  left:81px;
  top:148px;
  width:377px;
  height:292px;
  overflow:hidden;
  visibility:hidden;
}
#u2402_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:292px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2402_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:292px;
}
#u2403 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:291px;
}
#u2404 {
  position:absolute;
  left:2px;
  top:138px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2405 {
  position:absolute;
  left:37px;
  top:13px;
  width:300px;
  height:25px;
}
#u2405_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u2406 {
  position:absolute;
  left:9px;
  top:56px;
  width:57px;
  height:16px;
}
#u2407 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:68px;
}
#u2408 {
  position:absolute;
  left:18px;
  top:82px;
  width:335px;
  height:67px;
}
#u2409 {
  position:absolute;
  left:2px;
  top:26px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u2410 {
  position:absolute;
  left:14px;
  top:170px;
  width:57px;
  height:16px;
}
#u2411 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2412_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:68px;
}
#u2412 {
  position:absolute;
  left:23px;
  top:196px;
  width:335px;
  height:67px;
}
#u2413 {
  position:absolute;
  left:2px;
  top:26px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2414_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:19px;
}
#u2414 {
  position:absolute;
  left:96px;
  top:120px;
  width:11px;
  height:18px;
}
#u2415 {
  position:absolute;
  left:2px;
  top:1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2416_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:35px;
}
#u2416 {
  position:absolute;
  left:269px;
  top:112px;
  width:94px;
  height:34px;
}
#u2417 {
  position:absolute;
  left:2px;
  top:9px;
  width:90px;
  word-wrap:break-word;
}
#u2418 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2419_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:35px;
}
#u2419 {
  position:absolute;
  left:175px;
  top:112px;
  width:94px;
  height:34px;
  color:#000000;
}
#u2420 {
  position:absolute;
  left:2px;
  top:9px;
  width:90px;
  word-wrap:break-word;
}
#u2421_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:10px;
}
#u2421 {
  position:absolute;
  left:243px;
  top:124px;
  width:16px;
  height:9px;
}
#u2422 {
  position:absolute;
  left:2px;
  top:-4px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2423 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:35px;
}
#u2424 {
  position:absolute;
  left:175px;
  top:112px;
  width:94px;
  height:34px;
  color:#8F8BF6;
}
#u2425 {
  position:absolute;
  left:2px;
  top:9px;
  width:90px;
  word-wrap:break-word;
}
#u2426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:10px;
}
#u2426 {
  position:absolute;
  left:243px;
  top:124px;
  width:16px;
  height:9px;
}
#u2427 {
  position:absolute;
  left:2px;
  top:-4px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2428_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:35px;
}
#u2428 {
  position:absolute;
  left:269px;
  top:112px;
  width:94px;
  height:34px;
  color:#8F8BF6;
}
#u2429 {
  position:absolute;
  left:2px;
  top:9px;
  width:90px;
  word-wrap:break-word;
}
#u2430_img {
  position:absolute;
  left:0px;
  top:0px;
  width:586px;
  height:253px;
}
#u2430 {
  position:absolute;
  left:528px;
  top:200px;
  width:585px;
  height:252px;
  font-size:28px;
  line-height:36px;
}
#u2431 {
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  word-wrap:break-word;
}
