body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2373px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:83px;
}
#u7 {
  position:absolute;
  left:86px;
  top:26px;
  width:145px;
  height:82px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2065px;
  height:1177px;
}
#u10 {
  position:absolute;
  left:0px;
  top:-4px;
  width:2064px;
  height:1176px;
}
#u11 {
  position:absolute;
  left:2px;
  top:580px;
  width:2060px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2065px;
  height:135px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:2064px;
  height:134px;
}
#u13 {
  position:absolute;
  left:2px;
  top:59px;
  width:2060px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:83px;
}
#u14 {
  position:absolute;
  left:112px;
  top:38px;
  width:289px;
  height:82px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:35px;
  top:208px;
  width:1140px;
  height:1040px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:47px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:46px;
  font-size:36px;
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:374px;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:47px;
}
#u19 {
  position:absolute;
  left:378px;
  top:0px;
  width:452px;
  height:46px;
  font-size:36px;
}
#u20 {
  position:absolute;
  left:2px;
  top:2px;
  width:448px;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:47px;
}
#u21 {
  position:absolute;
  left:830px;
  top:0px;
  width:305px;
  height:46px;
  font-size:36px;
}
#u22 {
  position:absolute;
  left:2px;
  top:2px;
  width:301px;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:47px;
}
#u23 {
  position:absolute;
  left:0px;
  top:46px;
  width:378px;
  height:46px;
  font-size:36px;
}
#u24 {
  position:absolute;
  left:2px;
  top:2px;
  width:374px;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:47px;
}
#u25 {
  position:absolute;
  left:378px;
  top:46px;
  width:452px;
  height:46px;
  font-size:36px;
}
#u26 {
  position:absolute;
  left:2px;
  top:2px;
  width:448px;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:47px;
}
#u27 {
  position:absolute;
  left:830px;
  top:46px;
  width:305px;
  height:46px;
  font-size:36px;
}
#u28 {
  position:absolute;
  left:2px;
  top:2px;
  width:301px;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:47px;
}
#u29 {
  position:absolute;
  left:0px;
  top:92px;
  width:378px;
  height:46px;
  font-size:36px;
}
#u30 {
  position:absolute;
  left:2px;
  top:2px;
  width:374px;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:47px;
}
#u31 {
  position:absolute;
  left:378px;
  top:92px;
  width:452px;
  height:46px;
  font-size:36px;
}
#u32 {
  position:absolute;
  left:2px;
  top:2px;
  width:448px;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:47px;
}
#u33 {
  position:absolute;
  left:830px;
  top:92px;
  width:305px;
  height:46px;
  font-size:36px;
}
#u34 {
  position:absolute;
  left:2px;
  top:2px;
  width:301px;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:47px;
}
#u35 {
  position:absolute;
  left:0px;
  top:138px;
  width:378px;
  height:46px;
  font-size:36px;
}
#u36 {
  position:absolute;
  left:2px;
  top:2px;
  width:374px;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:47px;
}
#u37 {
  position:absolute;
  left:378px;
  top:138px;
  width:452px;
  height:46px;
  font-size:36px;
}
#u38 {
  position:absolute;
  left:2px;
  top:2px;
  width:448px;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:47px;
}
#u39 {
  position:absolute;
  left:830px;
  top:138px;
  width:305px;
  height:46px;
  font-size:36px;
}
#u40 {
  position:absolute;
  left:2px;
  top:2px;
  width:301px;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:47px;
}
#u41 {
  position:absolute;
  left:0px;
  top:184px;
  width:378px;
  height:46px;
  font-size:36px;
}
#u42 {
  position:absolute;
  left:2px;
  top:15px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:47px;
}
#u43 {
  position:absolute;
  left:378px;
  top:184px;
  width:452px;
  height:46px;
  font-size:36px;
}
#u44 {
  position:absolute;
  left:2px;
  top:2px;
  width:448px;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:47px;
}
#u45 {
  position:absolute;
  left:830px;
  top:184px;
  width:305px;
  height:46px;
  font-size:36px;
}
#u46 {
  position:absolute;
  left:2px;
  top:2px;
  width:301px;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:47px;
}
#u47 {
  position:absolute;
  left:0px;
  top:230px;
  width:378px;
  height:46px;
  font-size:36px;
}
#u48 {
  position:absolute;
  left:2px;
  top:15px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:47px;
}
#u49 {
  position:absolute;
  left:378px;
  top:230px;
  width:452px;
  height:46px;
  font-size:36px;
}
#u50 {
  position:absolute;
  left:2px;
  top:2px;
  width:448px;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:47px;
}
#u51 {
  position:absolute;
  left:830px;
  top:230px;
  width:305px;
  height:46px;
  font-size:36px;
}
#u52 {
  position:absolute;
  left:2px;
  top:2px;
  width:301px;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:47px;
}
#u53 {
  position:absolute;
  left:0px;
  top:276px;
  width:378px;
  height:46px;
  font-size:36px;
}
#u54 {
  position:absolute;
  left:2px;
  top:15px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:47px;
}
#u55 {
  position:absolute;
  left:378px;
  top:276px;
  width:452px;
  height:46px;
  font-size:36px;
}
#u56 {
  position:absolute;
  left:2px;
  top:2px;
  width:448px;
  word-wrap:break-word;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:47px;
}
#u57 {
  position:absolute;
  left:830px;
  top:276px;
  width:305px;
  height:46px;
  font-size:36px;
}
#u58 {
  position:absolute;
  left:2px;
  top:2px;
  width:301px;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:47px;
}
#u59 {
  position:absolute;
  left:0px;
  top:322px;
  width:378px;
  height:46px;
  font-size:36px;
}
#u60 {
  position:absolute;
  left:2px;
  top:15px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:47px;
}
#u61 {
  position:absolute;
  left:378px;
  top:322px;
  width:452px;
  height:46px;
  font-size:36px;
}
#u62 {
  position:absolute;
  left:2px;
  top:2px;
  width:448px;
  word-wrap:break-word;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:47px;
}
#u63 {
  position:absolute;
  left:830px;
  top:322px;
  width:305px;
  height:46px;
  font-size:36px;
}
#u64 {
  position:absolute;
  left:2px;
  top:2px;
  width:301px;
  word-wrap:break-word;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:47px;
}
#u65 {
  position:absolute;
  left:0px;
  top:368px;
  width:378px;
  height:46px;
  font-size:36px;
}
#u66 {
  position:absolute;
  left:2px;
  top:2px;
  width:374px;
  word-wrap:break-word;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:47px;
}
#u67 {
  position:absolute;
  left:378px;
  top:368px;
  width:452px;
  height:46px;
  font-size:36px;
}
#u68 {
  position:absolute;
  left:2px;
  top:2px;
  width:448px;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:47px;
}
#u69 {
  position:absolute;
  left:830px;
  top:368px;
  width:305px;
  height:46px;
  font-size:36px;
}
#u70 {
  position:absolute;
  left:2px;
  top:2px;
  width:301px;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:47px;
}
#u71 {
  position:absolute;
  left:0px;
  top:414px;
  width:378px;
  height:46px;
  font-size:36px;
}
#u72 {
  position:absolute;
  left:2px;
  top:15px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:47px;
}
#u73 {
  position:absolute;
  left:378px;
  top:414px;
  width:452px;
  height:46px;
  font-size:36px;
}
#u74 {
  position:absolute;
  left:2px;
  top:2px;
  width:448px;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:47px;
}
#u75 {
  position:absolute;
  left:830px;
  top:414px;
  width:305px;
  height:46px;
  font-size:36px;
}
#u76 {
  position:absolute;
  left:2px;
  top:2px;
  width:301px;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:47px;
}
#u77 {
  position:absolute;
  left:0px;
  top:460px;
  width:378px;
  height:46px;
  font-size:36px;
}
#u78 {
  position:absolute;
  left:2px;
  top:15px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:47px;
}
#u79 {
  position:absolute;
  left:378px;
  top:460px;
  width:452px;
  height:46px;
  font-size:36px;
}
#u80 {
  position:absolute;
  left:2px;
  top:2px;
  width:448px;
  word-wrap:break-word;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:47px;
}
#u81 {
  position:absolute;
  left:830px;
  top:460px;
  width:305px;
  height:46px;
  font-size:36px;
}
#u82 {
  position:absolute;
  left:2px;
  top:2px;
  width:301px;
  word-wrap:break-word;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:47px;
}
#u83 {
  position:absolute;
  left:0px;
  top:506px;
  width:378px;
  height:46px;
  font-size:36px;
}
#u84 {
  position:absolute;
  left:2px;
  top:15px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:47px;
}
#u85 {
  position:absolute;
  left:378px;
  top:506px;
  width:452px;
  height:46px;
  font-size:36px;
}
#u86 {
  position:absolute;
  left:2px;
  top:2px;
  width:448px;
  word-wrap:break-word;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:47px;
}
#u87 {
  position:absolute;
  left:830px;
  top:506px;
  width:305px;
  height:46px;
  font-size:36px;
}
#u88 {
  position:absolute;
  left:2px;
  top:2px;
  width:301px;
  word-wrap:break-word;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:70px;
}
#u89 {
  position:absolute;
  left:0px;
  top:552px;
  width:378px;
  height:69px;
  font-size:36px;
}
#u90 {
  position:absolute;
  left:2px;
  top:26px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:70px;
}
#u91 {
  position:absolute;
  left:378px;
  top:552px;
  width:452px;
  height:69px;
  font-size:36px;
}
#u92 {
  position:absolute;
  left:2px;
  top:14px;
  width:448px;
  word-wrap:break-word;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:70px;
}
#u93 {
  position:absolute;
  left:830px;
  top:552px;
  width:305px;
  height:69px;
  font-size:36px;
}
#u94 {
  position:absolute;
  left:2px;
  top:14px;
  width:301px;
  word-wrap:break-word;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:70px;
}
#u95 {
  position:absolute;
  left:0px;
  top:621px;
  width:378px;
  height:69px;
  font-size:36px;
}
#u96 {
  position:absolute;
  left:2px;
  top:26px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:70px;
}
#u97 {
  position:absolute;
  left:378px;
  top:621px;
  width:452px;
  height:69px;
  font-size:36px;
}
#u98 {
  position:absolute;
  left:2px;
  top:14px;
  width:448px;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:70px;
}
#u99 {
  position:absolute;
  left:830px;
  top:621px;
  width:305px;
  height:69px;
  font-size:36px;
}
#u100 {
  position:absolute;
  left:2px;
  top:14px;
  width:301px;
  word-wrap:break-word;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:70px;
}
#u101 {
  position:absolute;
  left:0px;
  top:690px;
  width:378px;
  height:69px;
  font-size:36px;
}
#u102 {
  position:absolute;
  left:2px;
  top:26px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:70px;
}
#u103 {
  position:absolute;
  left:378px;
  top:690px;
  width:452px;
  height:69px;
  font-size:36px;
}
#u104 {
  position:absolute;
  left:2px;
  top:14px;
  width:448px;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:70px;
}
#u105 {
  position:absolute;
  left:830px;
  top:690px;
  width:305px;
  height:69px;
  font-size:36px;
}
#u106 {
  position:absolute;
  left:2px;
  top:14px;
  width:301px;
  word-wrap:break-word;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:70px;
}
#u107 {
  position:absolute;
  left:0px;
  top:759px;
  width:378px;
  height:69px;
  font-size:36px;
}
#u108 {
  position:absolute;
  left:2px;
  top:26px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:70px;
}
#u109 {
  position:absolute;
  left:378px;
  top:759px;
  width:452px;
  height:69px;
  font-size:36px;
}
#u110 {
  position:absolute;
  left:2px;
  top:14px;
  width:448px;
  word-wrap:break-word;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:70px;
}
#u111 {
  position:absolute;
  left:830px;
  top:759px;
  width:305px;
  height:69px;
  font-size:36px;
}
#u112 {
  position:absolute;
  left:2px;
  top:14px;
  width:301px;
  word-wrap:break-word;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:70px;
}
#u113 {
  position:absolute;
  left:0px;
  top:828px;
  width:378px;
  height:69px;
  font-size:36px;
}
#u114 {
  position:absolute;
  left:2px;
  top:26px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:70px;
}
#u115 {
  position:absolute;
  left:378px;
  top:828px;
  width:452px;
  height:69px;
  font-size:36px;
}
#u116 {
  position:absolute;
  left:2px;
  top:14px;
  width:448px;
  word-wrap:break-word;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:70px;
}
#u117 {
  position:absolute;
  left:830px;
  top:828px;
  width:305px;
  height:69px;
  font-size:36px;
}
#u118 {
  position:absolute;
  left:2px;
  top:14px;
  width:301px;
  word-wrap:break-word;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:70px;
}
#u119 {
  position:absolute;
  left:0px;
  top:897px;
  width:378px;
  height:69px;
  font-size:36px;
}
#u120 {
  position:absolute;
  left:2px;
  top:26px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:70px;
}
#u121 {
  position:absolute;
  left:378px;
  top:897px;
  width:452px;
  height:69px;
  font-size:36px;
}
#u122 {
  position:absolute;
  left:2px;
  top:14px;
  width:448px;
  word-wrap:break-word;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:70px;
}
#u123 {
  position:absolute;
  left:830px;
  top:897px;
  width:305px;
  height:69px;
  font-size:36px;
}
#u124 {
  position:absolute;
  left:2px;
  top:14px;
  width:301px;
  word-wrap:break-word;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:70px;
}
#u125 {
  position:absolute;
  left:0px;
  top:966px;
  width:378px;
  height:69px;
  font-size:36px;
}
#u126 {
  position:absolute;
  left:2px;
  top:26px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:70px;
}
#u127 {
  position:absolute;
  left:378px;
  top:966px;
  width:452px;
  height:69px;
  font-size:36px;
}
#u128 {
  position:absolute;
  left:2px;
  top:14px;
  width:448px;
  word-wrap:break-word;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:70px;
}
#u129 {
  position:absolute;
  left:830px;
  top:966px;
  width:305px;
  height:69px;
  font-size:36px;
}
#u130 {
  position:absolute;
  left:2px;
  top:14px;
  width:301px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:1238px;
  top:208px;
  width:1140px;
  height:1460px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:47px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:46px;
  font-size:36px;
}
#u133 {
  position:absolute;
  left:2px;
  top:2px;
  width:374px;
  word-wrap:break-word;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:47px;
}
#u134 {
  position:absolute;
  left:378px;
  top:0px;
  width:452px;
  height:46px;
  font-size:36px;
}
#u135 {
  position:absolute;
  left:2px;
  top:2px;
  width:448px;
  word-wrap:break-word;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:47px;
}
#u136 {
  position:absolute;
  left:830px;
  top:0px;
  width:305px;
  height:46px;
  font-size:36px;
}
#u137 {
  position:absolute;
  left:2px;
  top:2px;
  width:301px;
  word-wrap:break-word;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:70px;
}
#u138 {
  position:absolute;
  left:0px;
  top:46px;
  width:378px;
  height:69px;
  font-size:36px;
}
#u139 {
  position:absolute;
  left:2px;
  top:26px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:70px;
}
#u140 {
  position:absolute;
  left:378px;
  top:46px;
  width:452px;
  height:69px;
  font-size:36px;
}
#u141 {
  position:absolute;
  left:2px;
  top:14px;
  width:448px;
  word-wrap:break-word;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:70px;
}
#u142 {
  position:absolute;
  left:830px;
  top:46px;
  width:305px;
  height:69px;
  font-size:36px;
}
#u143 {
  position:absolute;
  left:2px;
  top:14px;
  width:301px;
  word-wrap:break-word;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:70px;
}
#u144 {
  position:absolute;
  left:0px;
  top:115px;
  width:378px;
  height:69px;
  font-size:36px;
}
#u145 {
  position:absolute;
  left:2px;
  top:26px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:70px;
}
#u146 {
  position:absolute;
  left:378px;
  top:115px;
  width:452px;
  height:69px;
  font-size:36px;
}
#u147 {
  position:absolute;
  left:2px;
  top:14px;
  width:448px;
  word-wrap:break-word;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:70px;
}
#u148 {
  position:absolute;
  left:830px;
  top:115px;
  width:305px;
  height:69px;
  font-size:36px;
}
#u149 {
  position:absolute;
  left:2px;
  top:14px;
  width:301px;
  word-wrap:break-word;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:70px;
}
#u150 {
  position:absolute;
  left:0px;
  top:184px;
  width:378px;
  height:69px;
  font-size:36px;
}
#u151 {
  position:absolute;
  left:2px;
  top:26px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:70px;
}
#u152 {
  position:absolute;
  left:378px;
  top:184px;
  width:452px;
  height:69px;
  font-size:36px;
}
#u153 {
  position:absolute;
  left:2px;
  top:14px;
  width:448px;
  word-wrap:break-word;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:70px;
}
#u154 {
  position:absolute;
  left:830px;
  top:184px;
  width:305px;
  height:69px;
  font-size:36px;
}
#u155 {
  position:absolute;
  left:2px;
  top:14px;
  width:301px;
  word-wrap:break-word;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:70px;
}
#u156 {
  position:absolute;
  left:0px;
  top:253px;
  width:378px;
  height:69px;
  font-size:36px;
}
#u157 {
  position:absolute;
  left:2px;
  top:26px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:70px;
}
#u158 {
  position:absolute;
  left:378px;
  top:253px;
  width:452px;
  height:69px;
  font-size:36px;
}
#u159 {
  position:absolute;
  left:2px;
  top:14px;
  width:448px;
  word-wrap:break-word;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:70px;
}
#u160 {
  position:absolute;
  left:830px;
  top:253px;
  width:305px;
  height:69px;
  font-size:36px;
}
#u161 {
  position:absolute;
  left:2px;
  top:14px;
  width:301px;
  word-wrap:break-word;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:70px;
}
#u162 {
  position:absolute;
  left:0px;
  top:322px;
  width:378px;
  height:69px;
  font-size:36px;
}
#u163 {
  position:absolute;
  left:2px;
  top:26px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:70px;
}
#u164 {
  position:absolute;
  left:378px;
  top:322px;
  width:452px;
  height:69px;
  font-size:36px;
}
#u165 {
  position:absolute;
  left:2px;
  top:14px;
  width:448px;
  word-wrap:break-word;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:70px;
}
#u166 {
  position:absolute;
  left:830px;
  top:322px;
  width:305px;
  height:69px;
  font-size:36px;
}
#u167 {
  position:absolute;
  left:2px;
  top:14px;
  width:301px;
  word-wrap:break-word;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:70px;
}
#u168 {
  position:absolute;
  left:0px;
  top:391px;
  width:378px;
  height:69px;
  font-size:36px;
}
#u169 {
  position:absolute;
  left:2px;
  top:26px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:70px;
}
#u170 {
  position:absolute;
  left:378px;
  top:391px;
  width:452px;
  height:69px;
  font-size:36px;
}
#u171 {
  position:absolute;
  left:2px;
  top:14px;
  width:448px;
  word-wrap:break-word;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:70px;
}
#u172 {
  position:absolute;
  left:830px;
  top:391px;
  width:305px;
  height:69px;
  font-size:36px;
}
#u173 {
  position:absolute;
  left:2px;
  top:14px;
  width:301px;
  word-wrap:break-word;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:70px;
}
#u174 {
  position:absolute;
  left:0px;
  top:460px;
  width:378px;
  height:69px;
  font-size:36px;
}
#u175 {
  position:absolute;
  left:2px;
  top:26px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:70px;
}
#u176 {
  position:absolute;
  left:378px;
  top:460px;
  width:452px;
  height:69px;
  font-size:36px;
}
#u177 {
  position:absolute;
  left:2px;
  top:14px;
  width:448px;
  word-wrap:break-word;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:70px;
}
#u178 {
  position:absolute;
  left:830px;
  top:460px;
  width:305px;
  height:69px;
  font-size:36px;
}
#u179 {
  position:absolute;
  left:2px;
  top:14px;
  width:301px;
  word-wrap:break-word;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:70px;
}
#u180 {
  position:absolute;
  left:0px;
  top:529px;
  width:378px;
  height:69px;
  font-size:36px;
}
#u181 {
  position:absolute;
  left:2px;
  top:26px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:70px;
}
#u182 {
  position:absolute;
  left:378px;
  top:529px;
  width:452px;
  height:69px;
  font-size:36px;
}
#u183 {
  position:absolute;
  left:2px;
  top:14px;
  width:448px;
  word-wrap:break-word;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:70px;
}
#u184 {
  position:absolute;
  left:830px;
  top:529px;
  width:305px;
  height:69px;
  font-size:36px;
}
#u185 {
  position:absolute;
  left:2px;
  top:14px;
  width:301px;
  word-wrap:break-word;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:70px;
}
#u186 {
  position:absolute;
  left:0px;
  top:598px;
  width:378px;
  height:69px;
  font-size:36px;
}
#u187 {
  position:absolute;
  left:2px;
  top:14px;
  width:374px;
  word-wrap:break-word;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:70px;
}
#u188 {
  position:absolute;
  left:378px;
  top:598px;
  width:452px;
  height:69px;
  font-size:36px;
}
#u189 {
  position:absolute;
  left:2px;
  top:14px;
  width:448px;
  word-wrap:break-word;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:70px;
}
#u190 {
  position:absolute;
  left:830px;
  top:598px;
  width:305px;
  height:69px;
  font-size:36px;
}
#u191 {
  position:absolute;
  left:2px;
  top:14px;
  width:301px;
  word-wrap:break-word;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:48px;
}
#u192 {
  position:absolute;
  left:0px;
  top:667px;
  width:378px;
  height:47px;
  font-size:36px;
}
#u193 {
  position:absolute;
  left:2px;
  top:16px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:48px;
}
#u194 {
  position:absolute;
  left:378px;
  top:667px;
  width:452px;
  height:47px;
  font-size:36px;
}
#u195 {
  position:absolute;
  left:2px;
  top:2px;
  width:448px;
  word-wrap:break-word;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:48px;
}
#u196 {
  position:absolute;
  left:830px;
  top:667px;
  width:305px;
  height:47px;
  font-size:36px;
}
#u197 {
  position:absolute;
  left:2px;
  top:2px;
  width:301px;
  word-wrap:break-word;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:59px;
}
#u198 {
  position:absolute;
  left:0px;
  top:714px;
  width:378px;
  height:58px;
  font-size:36px;
}
#u199 {
  position:absolute;
  left:2px;
  top:8px;
  width:374px;
  word-wrap:break-word;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:59px;
}
#u200 {
  position:absolute;
  left:378px;
  top:714px;
  width:452px;
  height:58px;
  font-size:36px;
}
#u201 {
  position:absolute;
  left:2px;
  top:8px;
  width:448px;
  word-wrap:break-word;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:59px;
}
#u202 {
  position:absolute;
  left:830px;
  top:714px;
  width:305px;
  height:58px;
  font-size:36px;
}
#u203 {
  position:absolute;
  left:2px;
  top:8px;
  width:301px;
  word-wrap:break-word;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:70px;
}
#u204 {
  position:absolute;
  left:0px;
  top:772px;
  width:378px;
  height:69px;
  font-size:36px;
}
#u205 {
  position:absolute;
  left:2px;
  top:26px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:70px;
}
#u206 {
  position:absolute;
  left:378px;
  top:772px;
  width:452px;
  height:69px;
  font-size:36px;
}
#u207 {
  position:absolute;
  left:2px;
  top:14px;
  width:448px;
  word-wrap:break-word;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:70px;
}
#u208 {
  position:absolute;
  left:830px;
  top:772px;
  width:305px;
  height:69px;
  font-size:36px;
}
#u209 {
  position:absolute;
  left:2px;
  top:14px;
  width:301px;
  word-wrap:break-word;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:78px;
}
#u210 {
  position:absolute;
  left:0px;
  top:841px;
  width:378px;
  height:77px;
  font-size:36px;
}
#u211 {
  position:absolute;
  left:2px;
  top:30px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:78px;
}
#u212 {
  position:absolute;
  left:378px;
  top:841px;
  width:452px;
  height:77px;
  font-size:36px;
}
#u213 {
  position:absolute;
  left:2px;
  top:18px;
  width:448px;
  word-wrap:break-word;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:78px;
}
#u214 {
  position:absolute;
  left:830px;
  top:841px;
  width:305px;
  height:77px;
  font-size:36px;
}
#u215 {
  position:absolute;
  left:2px;
  top:18px;
  width:301px;
  word-wrap:break-word;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:62px;
}
#u216 {
  position:absolute;
  left:0px;
  top:918px;
  width:378px;
  height:61px;
  font-size:36px;
}
#u217 {
  position:absolute;
  left:2px;
  top:22px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:62px;
}
#u218 {
  position:absolute;
  left:378px;
  top:918px;
  width:452px;
  height:61px;
  font-size:36px;
}
#u219 {
  position:absolute;
  left:2px;
  top:10px;
  width:448px;
  word-wrap:break-word;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:62px;
}
#u220 {
  position:absolute;
  left:830px;
  top:918px;
  width:305px;
  height:61px;
  font-size:36px;
}
#u221 {
  position:absolute;
  left:2px;
  top:10px;
  width:301px;
  word-wrap:break-word;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:64px;
}
#u222 {
  position:absolute;
  left:0px;
  top:979px;
  width:378px;
  height:63px;
  font-size:36px;
}
#u223 {
  position:absolute;
  left:2px;
  top:24px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:64px;
}
#u224 {
  position:absolute;
  left:378px;
  top:979px;
  width:452px;
  height:63px;
  font-size:36px;
}
#u225 {
  position:absolute;
  left:2px;
  top:10px;
  width:448px;
  word-wrap:break-word;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:64px;
}
#u226 {
  position:absolute;
  left:830px;
  top:979px;
  width:305px;
  height:63px;
  font-size:36px;
}
#u227 {
  position:absolute;
  left:2px;
  top:10px;
  width:301px;
  word-wrap:break-word;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:56px;
}
#u228 {
  position:absolute;
  left:0px;
  top:1042px;
  width:378px;
  height:55px;
  font-size:36px;
}
#u229 {
  position:absolute;
  left:2px;
  top:20px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:56px;
}
#u230 {
  position:absolute;
  left:378px;
  top:1042px;
  width:452px;
  height:55px;
  font-size:36px;
}
#u231 {
  position:absolute;
  left:2px;
  top:6px;
  width:448px;
  word-wrap:break-word;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:56px;
}
#u232 {
  position:absolute;
  left:830px;
  top:1042px;
  width:305px;
  height:55px;
  font-size:36px;
}
#u233 {
  position:absolute;
  left:2px;
  top:6px;
  width:301px;
  word-wrap:break-word;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:66px;
}
#u234 {
  position:absolute;
  left:0px;
  top:1097px;
  width:378px;
  height:65px;
  font-size:36px;
}
#u235 {
  position:absolute;
  left:2px;
  top:24px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:66px;
}
#u236 {
  position:absolute;
  left:378px;
  top:1097px;
  width:452px;
  height:65px;
  font-size:36px;
}
#u237 {
  position:absolute;
  left:2px;
  top:12px;
  width:448px;
  word-wrap:break-word;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:66px;
}
#u238 {
  position:absolute;
  left:830px;
  top:1097px;
  width:305px;
  height:65px;
  font-size:36px;
}
#u239 {
  position:absolute;
  left:2px;
  top:12px;
  width:301px;
  word-wrap:break-word;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:56px;
}
#u240 {
  position:absolute;
  left:0px;
  top:1162px;
  width:378px;
  height:55px;
  font-size:36px;
}
#u241 {
  position:absolute;
  left:2px;
  top:20px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:56px;
}
#u242 {
  position:absolute;
  left:378px;
  top:1162px;
  width:452px;
  height:55px;
  font-size:36px;
}
#u243 {
  position:absolute;
  left:2px;
  top:6px;
  width:448px;
  word-wrap:break-word;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:56px;
}
#u244 {
  position:absolute;
  left:830px;
  top:1162px;
  width:305px;
  height:55px;
  font-size:36px;
}
#u245 {
  position:absolute;
  left:2px;
  top:6px;
  width:301px;
  word-wrap:break-word;
}
#u246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:46px;
}
#u246 {
  position:absolute;
  left:0px;
  top:1217px;
  width:378px;
  height:45px;
  font-size:36px;
}
#u247 {
  position:absolute;
  left:2px;
  top:2px;
  width:374px;
  word-wrap:break-word;
}
#u248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:46px;
}
#u248 {
  position:absolute;
  left:378px;
  top:1217px;
  width:452px;
  height:45px;
  font-size:36px;
}
#u249 {
  position:absolute;
  left:2px;
  top:2px;
  width:448px;
  word-wrap:break-word;
}
#u250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:46px;
}
#u250 {
  position:absolute;
  left:830px;
  top:1217px;
  width:305px;
  height:45px;
  font-size:36px;
}
#u251 {
  position:absolute;
  left:2px;
  top:2px;
  width:301px;
  word-wrap:break-word;
}
#u252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:72px;
}
#u252 {
  position:absolute;
  left:0px;
  top:1262px;
  width:378px;
  height:71px;
  font-size:36px;
}
#u253 {
  position:absolute;
  left:2px;
  top:14px;
  width:374px;
  word-wrap:break-word;
}
#u254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:72px;
}
#u254 {
  position:absolute;
  left:378px;
  top:1262px;
  width:452px;
  height:71px;
  font-size:36px;
}
#u255 {
  position:absolute;
  left:2px;
  top:14px;
  width:448px;
  word-wrap:break-word;
}
#u256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:72px;
}
#u256 {
  position:absolute;
  left:830px;
  top:1262px;
  width:305px;
  height:71px;
  font-size:36px;
}
#u257 {
  position:absolute;
  left:2px;
  top:14px;
  width:301px;
  word-wrap:break-word;
}
#u258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:53px;
}
#u258 {
  position:absolute;
  left:0px;
  top:1333px;
  width:378px;
  height:52px;
  font-size:36px;
}
#u259 {
  position:absolute;
  left:2px;
  top:18px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:53px;
}
#u260 {
  position:absolute;
  left:378px;
  top:1333px;
  width:452px;
  height:52px;
  font-size:36px;
}
#u261 {
  position:absolute;
  left:2px;
  top:5px;
  width:448px;
  word-wrap:break-word;
}
#u262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:53px;
}
#u262 {
  position:absolute;
  left:830px;
  top:1333px;
  width:305px;
  height:52px;
  font-size:36px;
}
#u263 {
  position:absolute;
  left:2px;
  top:5px;
  width:301px;
  word-wrap:break-word;
}
#u264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:71px;
}
#u264 {
  position:absolute;
  left:0px;
  top:1385px;
  width:378px;
  height:70px;
  font-size:36px;
}
#u265 {
  position:absolute;
  left:2px;
  top:27px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:71px;
}
#u266 {
  position:absolute;
  left:378px;
  top:1385px;
  width:452px;
  height:70px;
  font-size:36px;
}
#u267 {
  position:absolute;
  left:2px;
  top:14px;
  width:448px;
  word-wrap:break-word;
}
#u268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:71px;
}
#u268 {
  position:absolute;
  left:830px;
  top:1385px;
  width:305px;
  height:70px;
  font-size:36px;
}
#u269 {
  position:absolute;
  left:2px;
  top:14px;
  width:301px;
  word-wrap:break-word;
}
